<!DOCTYPE html>
<html>
<head>
	<title>Signup Page</title>
</head>
<body>
	<form method="post" action="../checking/signupCheck.php">
		<fieldset>
			<legend>Registration</legend>
			<table>
				<tr>
					<td>id</td>
					<td><input type="text" name="id" value=""> </td>
				</tr>
                <tr>
					<td colspan="2"><br></td>
				</tr>
				<tr>
					<td>Password</td>
					<td><input type="password" name="password" value=""> </td>
				</tr>
                <tr>
					<td colspan="2"><br></td>
				</tr>
				<tr>
					<td>Confirm Password</td>
					<td><input type="password" name="repass" value=""> </td>
				</tr>
                <tr>
					<td colspan="2"><br></td>
				</tr>
				<tr>
					<td>Name</td>
					<td><input type="name" name="name" value=""> </td>
				</tr>
                <tr>
					<td colspan="2"><br></td>
				</tr>
                <tr>
					<td>User Type</td>
					<td>
                        <input type="radio" name="user_type" value="user">User
                        <input type="radio" name="user_type" value="admin"> Admin   
                    </td>
				</tr>
                <tr>
					<td colspan="2"><br></td>
				</tr>
				<tr>
					<td></td>
					<td>
						<input type="submit" name="signup" value="Submit"> 
						<a href="login.html">Login</a>
					</td>
				</tr>
			</table>
		</fieldset>
	</form>
</body>
</html>